<ion-header class="ion-no-border">
  <ion-toolbar>
    <div
      style="
        display: flex;
        justify-content: space-between;
        margin: 20px 20px 15px;
      "
    >
      <img style="width: 85px;height: 59px;object-fit: contain;" src="../../assets/images/logo.png" alt="" />
      <ion-buttons style="margin-right: 10px;" slot="end">
          <ion-back-button style="color:black" text="" icon="arrow-forward"></ion-back-button>
        </ion-buttons>
    </div>
 
  </ion-toolbar>  
</ion-header>

<ion-content>
  <div class="container">
    <iframe class="child"  src="https://my.hoodwork.co/signup/plans/5f5c584c0f6948002a6e93cc?office=5d1bcda0dbd6e40010479eec" >
      Your browser doesn't support iframes
  </iframe>
  </div>

</ion-content>
